parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method innerHTML\\(\\) on array\\<DiDom\\\\Element\\>\\|DiDom\\\\Element\\.$#"
			count: 1
			path: includes/Blocks/Block.php

		-
			message: "#^Constant WPGRAPHQL_CONTENT_BLOCKS_PLUGIN_DIR not found\\.$#"
			count: 4
			path: includes/WPGraphQLContentBlocks.php

		-
			message: "#^Parameter \\#1 \\$plugin_filename of class EnforceSemVer\\\\EnforceSemVer constructor expects string, null given\\.$#"
			count: 1
			path: includes/WPGraphQLContentBlocks.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$response\\.$#"
			count: 1
			path: includes/updates/update-callbacks.php

		-
			message: "#^Cannot access property \\$id on WP_Screen\\|null\\.$#"
			count: 2
			path: includes/updates/update-callbacks.php

		-
			message: "#^Function WPGraphQL\\\\ContentBlocks\\\\PluginUpdater\\\\custom_plugin_api_request\\(\\) has invalid return type WPGraphQL\\\\ContentBlocks\\\\PluginUpdater\\\\stdClass\\.$#"
			count: 1
			path: includes/updates/update-callbacks.php

		-
			message: "#^Function WPGraphQL\\\\ContentBlocks\\\\PluginUpdater\\\\custom_plugin_api_request\\(\\) should return WPGraphQL\\\\ContentBlocks\\\\PluginUpdater\\\\stdClass\\|false but returns array\\|object\\|false\\.$#"
			count: 2
			path: includes/updates/update-callbacks.php

		-
			message: "#^Function WPGraphQL\\\\ContentBlocks\\\\PluginUpdater\\\\custom_plugin_api_request\\(\\) should return WPGraphQL\\\\ContentBlocks\\\\PluginUpdater\\\\stdClass\\|false but returns object\\.$#"
			count: 1
			path: includes/updates/update-callbacks.php

		-
			message: "#^Function WPGraphQL\\\\ContentBlocks\\\\PluginUpdater\\\\filter_semver_notice_text\\(\\) never returns null so it can be removed from the return type\\.$#"
			count: 1
			path: includes/updates/update-callbacks.php
