parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method innerHTML\\(\\) on array\\<DiDom\\\\Element\\>\\|DiDom\\\\Element\\.$#"
			count: 1
			path: includes/Blocks/Block.php

		-
			message: "#^Access to an undefined property object\\:\\:\\$response\\.$#"
			count: 1
			path: includes/PluginUpdater/UpdateCallbacks.php


