includes:
 - phpstan-baseline.neon # Remove when tech debt is resolved
parameters:
		level: 8
		inferPrivatePropertyTypeFromConstructor: true
		checkAlwaysTrueCheckTypeFunctionCall: true
		checkAlwaysTrueInstanceof: true
		checkAlwaysTrueStrictComparison: true
		checkExplicitMixedMissingReturn: true
		checkFunctionNameCase: true
		checkInternalClassCaseSensitivity: true
		checkTooWideReturnTypesInProtectedAndPublicMethods: true
		polluteScopeWithAlwaysIterableForeach: false
		polluteScopeWithLoopInitialAssignments: false
		reportAlwaysTrueInLastCondition: true
		reportStaticMethodSignatures: true
		reportWrongPhpDocTypeInVarTag: true
		treatPhpDocTypesAsCertain: false
		stubFiles:
			# Simulate added properties
			- phpstan/class-wp-post-type.php
		bootstrapFiles:
			- phpstan/constants.php
			- wp-graphql-content-blocks.php
		paths:
			- wp-graphql-content-blocks.php
			- includes/
		scanFiles:
			- vendor/axepress/wp-graphql-stubs/wp-graphql-stubs.php

		# Todo, remove when stricter types are enforced
		ignoreErrors:
			- identifier: missingType.iterableValue
