includes:
 - phpstan-baseline.neon # Remove when tech debt is resolved
parameters:
		level: 8
		inferPrivatePropertyTypeFromConstructor: true
		checkMissingIterableValueType: false
		bootstrapFiles:
			- phpstan/constants.php
		paths:
			- wp-graphql-content-blocks.php
			- includes/
		scanFiles:
			- vendor/axepress/wp-graphql-stubs/wp-graphql-stubs.php
