name: Upload Schema Artifact

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  run:
    runs-on: ubuntu-latest
    name: Generate and Upload WPGraphQL Schema Artifact
    services:
      mariadb:
        image: mariadb:10.8.2
        ports:
          - 3306:3306
        env:
          MYSQL_ROOT_PASSWORD: root
        # Ensure docker waits for mariadb to start
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Setup WordPress
        uses: ./.github/actions/setup-wordpress

      - name: Generate the Static Schema
        run: |
          cd /tmp/wordpress
          # Output: /tmp/schema.graphql
          wp graphql generate-static-schema

      - name: Upload schema as release artifact
        uses: softprops/action-gh-release@v1
        with:
          files: /tmp/schema.graphql
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}