name: WordPress Coding Standards

on:
  pull_request:

jobs:
  wpcs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'

      - name: Install Dependencies
        run: composer install

      - name: Run Lint
        run: composer lint

      - name: Run PHPCS
        run: composer phpcs
